.themetoogle label {
	width:5rem;
	height:2rem;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 2rem;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
}
.themetoogle label:after {
	content: "";
	width:1.8rem;
	height: 1.8rem;
	position: absolute;
	top:.1rem;
	left:.1rem;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 1.8rem;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
}
.themetoogle input {
	width: 0;
	height: 0;
	visibility: hidden;
}
.themetoogle input:checked + label {
	background: #242424;
}
.themetoogle input:checked + label:after {
	left:4.9rem;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}
.themetoogle label:active:after{
	width: 2.6rem;
}
/* .background {
	width:100vw;
	height: 100vh;
	background: #fff;
	z-index: -1;
	position: absolute;
	transition: 0.3s;
} */
.themetoogle input:checked + label + .background {
	background:#242424;
}
.themetoogle label svg {
	position: absolute;
	width: 1.2rem;
	top:.4rem;
	z-index: 30;
}
.themetoogle label svg.sun {
	left:.4rem;
	fill:#fff;
	transition: 0.3s;
}
.themetoogle label svg.moon {
	left:3.4rem;
	fill:#7e7e7e;
	transition: 0.3s;
}
.themetoogle input:checked + label svg.sun {
	fill:#7e7e7e;
}
.themetoogle input:checked + label svg.moon {
	fill:#fff;
}



.themebutton label {
	width:2.2rem;
	height:2.2rem;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 2rem;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	/* transition: 0.3s; */
}
.themebutton label:after {
	content: "";
	width:1.8rem;
	height: 1.8rem;
	position: absolute;
	top:.2rem;
	left:.2rem;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 1.8rem;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	/* transition: 0.3s; */
}
.themebutton input {
	width: 0;
	height: 0;
	visibility: hidden;
}
.themebutton input:checked + label {
	background: #242424;
}
.themebutton input:checked + label:after {
	/* left:2rem; */
	/* transform: translateX(-100%); */
	background: linear-gradient(180deg,#777,#3a3a3a);
}
.themebutton label:active:after{
	width: 1.8rem;
}
/* .background {
	width:100vw;
	height: 100vh;
	background: #fff;
	z-index: -1;
	position: absolute;
	transition: 0.3s;
} */
.themebutton input:checked + label + .background {
	background:#242424;
}
.themebutton label svg {
	position: absolute;
	width: 1.2rem;
	top:.5rem;
	z-index: 30;
}
.themebutton label svg.sun {
	left:.5rem;
	fill:#fff;
	/* transition: 0.3s; */
}
.themebutton label svg.moon {
	left:0.5rem;
	fill:#7e7e7e;
	/* transition: 0.3s; */
}
.themebutton input:checked + label svg.sun {
	fill:#7e7e7e;
}
.themebutton input:checked + label svg.moon {
	fill:#fff;
}

